#iframeContainer {
    display: none;
    width: 400px; /* Kích thước mặc định */
    height: 460px; /* Kích thước mặc định */
    position: absolute; /* Đặt vị trí tuyệt đối */
    top: 60px; /* Khoảng cách từ nút */
    left: 80px;
    z-index: 1000; /* Đảm bảo iframe hiển thị trên cùng */
}
#showButton {
    color: white; /* màu chữ */
    border: none; /* không viền */
    cursor: pointer; /* con trỏ chuột */
    position: fixed;
    top: 50%;
    left: 10px;
    z-index: 1001; /* Đảm bảo nút hiển thị trên cùng */
}
#embeddedWebsite {
    width: 90%;
    height: 110%;
    border: none;
    overflow: hidden; /* Ẩn thanh cuộn */
}
#iframeContainer {
    display: none; /* Ẩn khung iframe ban đầu */
    transition: display 0.3s ease; /* Áp dụng transition cho hiệu ứng mượt mà */
  }
.no-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
/* Responsive cho iPhone 12 Pro */
@media (max-width: 390px) {
    #iframeContainer {
        display: none;
        width: 390px; /* Kích thước mặc định */
        height: 390px; /* Kích thước mặc định */
        top: 20px; /* Khoảng cách từ nút */
        left: 80px;
        z-index: 1000; 
    }
}


